extends ../templates/layout

block head


block content
  div.centro
    div.tamano
      h1 Registrate con nosotros
      form(action="/register", method="post")
        label(for="UserName") Username:
        input(type="text", name="UserName")
        br
        br
        label(for="Nombre") Nombre:
        input(type="text", name="Nombre")
        br
        br
        label(for="Descripcion") Descripcion:
        input(type="text", name="Descripcion")
        br
        br
        label(for="Email") Email:
        input(type="text", name="Email")
        br
        br
        label(for="Contraseña") Contraseña:
        input(type="password", name="Contraseña")
        br
        br
        label(for="Foto") Foto (URL): 
        input(type="text", name="Foto") 
        br
        br
        input.enlace-registrar(type="submit", value="Registrate!!")
        br
        br
        a.enlace-enviar(href='/login') ¿Ya tienes cuenta? Logueate aquí!!

  


