extends ../templates/layout

block head


block content
  div.centro
      div.tamano
        h2 Nosotros somos
            i 
              strong La Pluma digital
        h4 La pluma digital es una red social dedicada para lectores que quieran conocer a mas gente y quieran investigar y conocer libros o personas.
        h4 Hecho por Marcos Arjona.
        img(src="/images/logo.png" alt="Logo" style="max-width: 400px; margin-bottom: 20px; margin:20px;")
