extends templates/layout

block head

block content
  .text-center
    h3 
      span Bienvenido, espero que te guste 
      b La Pluma digital
    img(src="/images/logo.png" alt="Logo" style="max-width: 700px; margin-bottom: 20px;")
