/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    background-image: url("/images/fondo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;   
    background-attachment: fixed;
    color: white;
    font-family: Arial, sans-serif;
    background-color: #7da041;
}

/* Header */
.header-container {
  text-align: center;
  margin-top: 30px;
}

.title {
  color: #556B2F; /* Verde oliva fuerte */
  margin-bottom: 10px;
}

.subtitle {
  color: #6B8E23; /* Verde oliva más claro */
}

/* Navbar */
.navbar {
  background-color: #556B2F; /* Verde oliva fuerte */
  padding: 10px 0;
  margin: 20px;
  border: #fff 2px solid;
}

.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-left: 20px;
}

.nav-link:hover {
  background-color: #2f3b19;
  padding: 10px;
}


/* Cabecerea */
.titular {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.5);
}

.imagen {
  width: 450px;
  background-color: beige;
  margin: 10px;
  display: flex;
  align-items: center;
  border-radius: 20px;
}


/* Conteneedor de flex */
.contenedor-general {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
}

/* Libros */
.libros-container {
    width: 1200px;
    padding: 20px;
    color: black;
    border-radius: 10px;
    margin-top: 30px;
    background-color: rgb(255, 255, 255, 0.5);
}

.tabla-libros {
    color: black;
    border-collapse: collapse;
    background-color: rgb(255, 255, 255, 0.7);
}

.tabla-libros th, .tabla-libros td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
    color: black;
    width: 300px;
}

/* Autores */
.autores-container {
  width: 900px;
  padding: 20px;
  color: black;
  border-radius: 10px;
  margin-top: 30px;
  background-color: rgb(255, 255, 255, 0.5);
}

.tabla-autores {
  color: black;
  border-collapse: collapse;
  background-color: rgb(255, 255, 255, 0.7);
}

.tabla-autores th, .tabla-autores td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
  color: black;
  width: 300px;
}

/* Partes de los CRUDS*/
.enlace-ver, .enlace-editar, .enlace-add {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;

    background-color: #f0f0f0;
}

.enlace-borrar {
  text-decoration: none;
  color: rgb(255, 0, 0);
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;

  background-color: white;
}

.enlace-borrar:hover {
  background-color: red;
  color: white;
}

.enlace-ver:hover, .enlace-editar:hover, .enlace-add:hover {
    background-color: #2f3b19;
    color: white;
}

/* Detalles */
.estructura-detalles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
}

.borde1 {
  border: 3px solid black;
}

.borde2 {
  border: 3px dotted black;
}

.detalle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 750px;
  background-color: rgb(255, 255, 255, 0.7);
  color: black;
  border-radius: 15px;
  padding: 15px;
  margin: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}

.detalle p {
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  margin-left: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}