header.container
  h2.text-center.mt-3 La Pluma Digital
  h3.text-center.mt-3 Donde las historias cobran vida

nav.navbar.navbar-expand-lg.navbar-light.bg-light
  ul.navbar-nav
    li.nav-item
      a.nav-link(href="/") Inicio
    li.nav-item
      a.nav-link(href="/libros") Libros
    li.nav-item 
      a.nav-link(href="/perfil") Mi perfil
    li.nav-item 
      a.nav-link(href="/auth/logout") Cerrar Sesion
