header.container
  div.titular
    div.imagen
      img(src="/images/logo.png" alt="Logo" style="max-width: 150px; margin-bottom: 20px; margin:20px;")
      h2 
        i La Pluma Digital 
        p Donde las historias cobran vida

nav.navbar
  ul.nav-list
    li
      a.nav-link(href="/") Inicio
    li
      a.nav-link(href="/libros") Libros
    li
      a.nav-link(href="/autores") Autores 
    li
      a.nav-link(href="/rankings") Rankings
    li
      a.nav-link(href="/perfil") Mi perfil
    li
      a.nav-link(href="/subeTuLibro") Sube tu libro 
    li
      a.nav-link(href="/sobreNosotros") Sobre Nosotros
    li
      if usuarioAutenticado
        a.nav-link(href="/logout") Cerrar sesión
      else
        a.nav-link(href="/login") Iniciar sesión
