doctype html
html(lang="es")
  head
    link(rel="stylesheet", href="/css/styles.css")
    block head
  body
    // Incluye el encabezado
    include header

    // Bloque de contenido dinámico
    block content

    include footer