extends ../templates/layout

block head

block content
    div.estructura-detalles
        h1= autor.Nombre
        div.detalle
            img(src=autor.Foto, alt="Portada", class="portada-img", style="max-width: 400px; margin-bottom: 20px;")
            p= autor.Nombre + " vivió desde " + autor.FechaNac + "-" + `${fechaFal}`