extends ../templates/layout

block head


block content
  h3 Añadir un nuevo libro
  div
    form(action="/libros/add", method="post")
      label(for="idAutor") Autor:
      select(name="idAutor")
        each autor in autores
          option(value=autor.idAutor)= autor.Nombre
      br
      label(for="Titulo") Titulo:
      input(type="text", name="Titulo")
      br
      label(for="Sinapsis") Sinapsis:
      input(type="text", name="Sinapsis")
      br 
      label(for="Paginas") Paginas: 
      input(type="number", name="Paginas")
      br
      label(for="Fecha") Fecha Publicación:
      input(type="date", name="Fecha")
      br
      label(for="Foto") Foto: 
      input(type="text", name="Foto") 
      br
      input(type="submit", value="Enviar")

 


