/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: white;
    font-family: Arial, sans-serif;
  }
  
  /* Header */
  .header-container {
    text-align: center;
    margin-top: 30px;
  }
  
  .title {
    color: #556B2F; /* Verde oliva fuerte */
    margin-bottom: 10px;
  }
  
  .subtitle {
    color: #6B8E23; /* Verde oliva más claro */
  }
  
  /* Navbar */
  .navbar {
    background-color: #556B2F; /* Verde oliva fuerte */
    padding: 10px 0;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin: 0 15px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  